<div class='center'>
  <p>あなたの団体の時間割の雛形を作成してください</p>
  <div class="timetable-make" id='timetable-make'>
    <input input=text class='name-field' placeholder='団体名を入力' id="username">
    <% row = @times_str.length%>
    <% col = @dates_str.length - 1%>
    <div class="row">
      <% @dates_str.each_with_index do |d, index| %>
        <%if index == 0 then%>
          <div class="date space"></div>
          <div class="date space"></div>
        <%else%>
          <div class="date delete">行削除</div>
        <% end %>
      <% end %>
      <div class="date add">行追加</div>
    </div>
    <div class="row">
      <% @dates_str.each_with_index do |d, index| %>
        <%if index == 0 then%>
          <div class="date space"></div>
          <div class="date space"></div>
        <%else%>
          <textarea class="date input"><%= d%></textarea>
        <% end %>
      <% end %>
      <div class="date space"></div>
    </div>
    <% row.times do |i| %>
      <div class="row">
        <div class="time delete">列削除</div>
        <textarea class='time input'><%= @times_str[i]%></textarea>
        <% (col).times do |j|%>
          <div class="subject active"></div>
        <% end %>
        <div class="subject"></div>
      </div>
    <% end %>
    <div class="row">
      <div class="time add">列追加</div>
      <div class="subject"></div>
      <% (col).times do |j|%>
        <div class="subject"></div>
      <% end %>
      <div class="subject"></div>
    </div>
  </div>
  <button  class="button half" id='submit'>完成</button>
</div>
<div id='partyname' data-json=<%=@party.name%>></div>
<%= javascript_pack_tag 'parties/timetable'%>
