<div class='center group-filter-parent'>
  <button class='open' id='filter-group'>グループフィルタを開く</button>
  <div style='display:none' id='group-filter' calss='left'>
    <%if @party.groups.nil?%>
      グループはありません
    <%else%>
        <label><input type='checkbox' class='filter-checkbox' checked='checked' value='すべてのグループ'>すべてのグループ</label>
        <label><input type='checkbox' class='filter-checkbox' checked='checked' value='グループなし、削除済み'>グループなし、削除済み</label>
      <%@party.groups.each do |p|%>
        <label><input type='checkbox' class='filter-checkbox' checked='checked' value='<%=p%>'><%=p%></label>
      <%end%>
    <%end%>
  </div>
</div>
<%=javascript_pack_tag 'timetables/group'%>
