<div class='center'>
<%= view_history_half_back%>
<p><%= @timetable.name%> さんの提出を編集しています</p>

<%=render partial:'timetable'%>

<div class="functionbutton">
    <button  class="buttonSubmit" id='submit'>更新</button>
</div>
