<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>2020年度会議調整</title>
        <meta charset="utf-8">
        <link rel=stylesheet href="styles.css">
        <meta name="viewport" content="width=device-width, initial=1.0" />
        <script type="text/javascript">
            window.onload = function(){
                ASSET_DIR = " ";
            }
        </script>
    </head>
    <body>
        <div class="contents">
        <p class="center">今年度の週会議の日程をきめるので、皆の時間割を教えてください!</p>
        <div class="textBox">
            <%= form_with url: 'new', method: :get, class: 'name-form' do |form|%>
              <%= form.text_field :name, {class: 'name-field', placeholder: '名前を入力'}%><%= form.submit "OK" ,class: "button submit-name"%>
            <% end%>
            <div class="twobutton">
                <button class="history" onclick="viewHistory()">提出履歴を見る</button><button onclick="viewResult()" class="available">暫定候補を見る</button>
            </div>
            <div class="onebutton">
                <button class="history" onclick="viewDistribution()">分布を見る</button>
            </div>
        </div>
        <h3>更新履歴</h3>
        <p>4月4日</p>
        <p>　　暫定履歴で既にひとコマのみに該当した時間は以降表示しないように変更</p>
        <p>　　デザインの改修</p>
	    <p>　　<del>無料サーバーを使ってるのでスマホからの閲覧は広告が表示されると思います</del></p>
	    <p>4月7日</p>
	    <p>　　サーバーの変更</p>
	    <p>5月1日</p>
	    <p>　　バグ修理</p>
	    <p>5月4日</p>
	    <p>　　バグ修理</p>
	    <p>　　分布機能追加</p>
        </div>
        <script type=text/javascript>
            function keypress(){
                if( window.event.keyCode == 13 ){
                  goTimetable();
                }
            }
            function viewDistribution(){
                location.href=("./distribution.php?rand="+Math.random().toString(32).substring(2));
            }
            function goTimetable(){
                var humanName=document.getElementById("name").value;
                if(!humanName){
                    humanName="Anonymous-"+Math.random().toString(32).substring(2);
                }
                const replaced = humanName.replace(/\s+/g, '-');
                location.href=("./timetable.php?name="+replaced);
            }
            function viewHistory(){
                location.href=("./history.php?rand="+Math.random().toString(32).substring(2));
                //location.href="link";
            }
            function viewResult(){
                location.href=("./result.html?rand="+Math.random().toString(32).substring(2));
            }
        </script>
    </body>
</html>
