/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$media-sp: 900px;
$color-1: #64c0ab;
$color-2: #4d4398;
$color-3: #e85298;
$color-4: #f6f6f6;
$color-5: #3d7568;
$contents-width:1000px;

@mixin sp {
  @media only screen and (max-width: $media-sp) {
    @content;
  }
}
body{
    margin:0px;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
h1{
    font-size:28px;
}
h2{
    font-size:24px;
}
p{
    font-size:16px;
}
h2,h3{
    color:#3a3a3a;
}
@include sp{
    h1{
        font-size:22px;
    }
    h2{
        font-size:24px;
    }
    p{
        font-size:14px;
    }
}


.center{
    text-align: center;
}
.left{
    text-align:left;
}
header{
    background-color: $color-1;
    text-align: center;
    color: #fff;
}
header>h1{
    margin:0px;
    line-height:50px;
    height:50px;
}
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.contents{
    flex-grow: 1;
    width:100%;
    max-width: $contents-width;
    margin:0 auto;
    background-color: $color-4;
    padding-top:20px;
    @include sp{
        padding: 20px 0;
    }
}
.sns-share{
    margin:0 auto;
    width:100%;
    max-width: $contents-width;
    margin:0 auto;
    background-color: $color-4;
    padding-top:50px;
    .share-buttons{
        display: block;
        width:100%;
        max-width: 800px;
        margin:0 auto;
    }
    .share-button{
        box-sizing: border-box;
        height:40px;
        width:calc( 33% - 16px);
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        margin:8px;
        color:#fff;
        &:visited{
            color:#fff;
        }
        &:hover{
            opacity:0.7;
        }
        @include sp{
            margin:4px;
            width:calc( 33% - 8px);
        }
    }
    .twitter{
        background-color:#1da1f2;
        &:hover{
            background-color:#1da1f2;
        }
    }
    .facebook{
        background-color:#3b5998;
        &:hover{
            background-color:#3b5998;
        }
    }
    .hatebu{
        background-color:#2c6ebd;
        &:hover{
            background-color:#2c6ebd;
        }
    }
    .pocket{
        background-color:#ef4056;
        &:hover{
            background-color:#ef4056;
        }
    }
    .line{
        background-color:#00c300;
        &:hover{
            background-color:#00c300;
        }
    }
    .copy{
        background-color:#333;
        &:hover{
            background-color:#333;
        }
    }
    .facebook{
        background-color:#3b5998;
        &:hover{
            background-color:#3b5998;
        }
    }
}
footer{
    background-color:$color-5;
    img{
        width:30px;
    }
    p,a{
        color:white;
        text-decoration: none;
        font-size:0.9rem;
        &:visited{
            color:white;
        }
    }
    .footer-contents{
        max-width: $contents-width;
        display:block;
        margin:20px auto 0px auto;
        .footer-contents-flex{
            display: flex;
            justify-content: space-between;
        }
    }
    .footer-message{
        display: flex;
        justify-content: space-between;
        margin:10px 30px 0px 30px;
    }
}