/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    margin:0px;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
h2,h3{
    color:#3a3a3a;
}
.center{
    text-align: center;
}
header{
    background-color:#6b8;
    text-align: center;
    color: #fff;
}
header>h1{
    margin:0px;
    font-size:32px;
}
.contents{
    max-width: 1000px;
    margin:0 auto;
    background-color: #f6f6f6;
    padding:20px;
}