// Place all the styles related to the tmps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$media-sp: 900px;
@mixin sp {
  @media only screen and (max-width: $media-sp) {
    @content;
  }
}
.index-back{
    background-image:url(index-back.jpg);
    background-size:cover;
    height:600px;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    text-align:center;
    button{
        opacity:1.0;
        margin:20px 0 0 0 ;
        display:inline;
        text-align:center;
    }
    h1{
        padding-top:250px;
        margin:0;
    }
}

.inner-block {
    display:flex;
    margin: 0 auto;
    justify-content: center;
    .fade-img-box, .fade-img-box1, .fade-img-box2 {
    width:450px;
    height:350px;
    margin-top: 10px;
    position:relative;
    }
    @include sp{
        .fade-img-box, .fade-img-box2{
            display:none;
        }
    }
    .screen-shot{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    }
}
.contents-index{
    max-width:900px;
    margin:0 auto;
    .content-image{
        max-width:500px;
        text-align:center;
    }
}