// Place all the styles related to the tmps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$media-sp: 900px;
@mixin sp {
  @media only screen and (max-width: $media-sp) {
    @content;
  }
}
.index-title-bg{
    background-image: url(index-back.jpg);
    background-size:cover;
    background-color:rgba(255,255,255,0.45);
    background-blend-mode:lighten;
}
$index-col1:#eee;
$index-col2:#eee;
$index-col3:#eee;
$index-col4:#eee;
//$index-col1:#f3abc5;
//$index-col2:#fff2b2;
//$index-col3:#a7d9dd;
//$index-col4:#cfcfcf;
.index-col1{
    background-color: $index-col1;
}
.index-col2{
    background-color: $index-col2;
}
.index-col3{
    background-color: $index-col3;
}
.index-desc{
    max-width: 1300px;
    margin:0 auto;
    height:600px;
    width:100%;
    display:flex;
    align-items:center;
    h1{
        margin-bottom: 50px;
        font-size:2.5rem;
        color:#333;
    }
    .left, .right{
        width:50%;
    }
    img{
        width:70%;
        display: block;
        margin:0 auto;
        box-shadow: 0 0 2rrem rgba(0, 0, 0, 0.1);
    }
}
.index-title{
    max-width: 1300px;
    margin:0 auto;
    height:600px;
    width:100%;
    display:flex;
    align-items:center;
    text-align: center;
    .left{
        display:flex;
        flex-direction: column;
        width:50%;
        h1{
            text-shadow    : 
                2px  2px 1px #fff,
                -2px  2px 1px #fff,
                2px -2px 1px #fff,
                -2px -2px 1px #fff,
                2px  0px 1px #fff,
                0px  2px 1px #fff,
                -2px  0px 1px #fff,
                0px -2px 1px #0fff,
        }
        .h1-1{
            text-align: center;
            margin:-9px;
            font-size:2rem;
            line-height:normal;
        }
        .h1-2{
            margin:0px;
            text-align: center;
            font-size:3rem;
            line-height:normal;
        }
        .message{
            width:85%;
            display:block;
            margin:30px auto;
        }
        button{
            display:block;
            margin:0 auto;
            background-color:#777;
            padding:15px;
            &:hover{
                background-color: $index-col1;
            }
        }
    }
    .right{
        width:50%;
    }
    img{
        width:70%;
    }
}