// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.url-holder{
    input{
        height:60px;
        font-size:40px;
        width:calc(90%);
        vertical-align:bottom;
        box-sizing: border-box;
        margin:0 auto;
        border: solid #fff 0px;
        background-color:#eee;
        line-height:25px;
    }
}
.timetable-make{
    text-align: center;
    background-color: #ddd;
    width:80%;
    padding-bottom: 30px;
    margin:0 auto;
    .name-field{
        display:inline-block;
        height:40px;
        font-size:30px;
        width:calc(60% - 140px);
        vertical-align: middle;
        box-sizing: border-box;
        margin:30px;
        margin-bottom:40px;
        border: 1px solid #999;
    }
    .row{
        font-size:0px;
        display: block;
    }
    textarea{
        overflow:hidden;
    }
    .subject, .time, .date{
        font-size:15px;
        margin:1px;
        height:80px;
        width:50px;
        vertical-align:bottom;
        display:inline-block;
        box-sizing:border-box;
    }
    .active{
        background-color:#f6f6f6;
    }
    .date{
        height:40px;
        .delete, .add{
            line-height: 40px;
        }
    }
    .time{
        line-height:80px;
    }
    .input{
        line-height:15px;
    }
    .delete{
        background-color:rgb(225,174,201);
        &:hover{
            opacity:0.6;
        }
    }
    .add{
        background-color:rgb(146,217,232);
        &:hover{
            opacity:0.6;
        }
    }
}