// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$media-sp: 900px;
$color-1: #64c0ab;
$color-2: #4d4398;
$color-3: #e85298;
$color-4: #f6f6f6;
@mixin sp {
  @media only screen and (max-width: $media-sp) {
    @content;
  }
}
.url-holder{
    input{
        height:40px;
        font-size:30px;
        width:calc(90%);
        vertical-align:bottom;
        box-sizing: border-box;
        margin:0 auto;
        border: solid #fff 0px;
        background-color:#eee;
        line-height:25px;
    }
    @include sp{
        button{
            margin:10px 5px 10px 5px;
        }
        input{
            height:30px;
            font-size:20px;
        }
        h1{
            padding:10px 0 0 10px;
        }
        p{
            padding:0 0 0 12px;
        }
    }
}
.timetable-make{
    text-align: center;
    .name-field{
        display:inline-block;
        height:40px;
        font-size:30px;
        line-height:30px;
        width:calc(60% - 140px);
        vertical-align: middle;
        box-sizing: border-box;
        margin:30px;
        margin-bottom:40px;
        border: 1px solid #999;
        @include sp{
            width: 80%;
        }
    }
    .row{
        font-size:0px;
        display: block;
    }
    textarea{
        overflow:hidden;
    }
    .subject, .time, .date{
        @include sp{
            font-size:12px;
        }
        font-size:15px;
        margin:1px;
        height:80px;
        width:50px;
        vertical-align:bottom;
        display:inline-block;
        box-sizing:border-box;
    }
    .active{
        background-color:#ddd;
    }
    .date{
        height:40px;
        .delete, .add{
            //line-height: 40px;
        }
    }
    .time{
        //line-height:80px;
    }
    .input{
        line-height:15px;
    }
    .delete{
        background-color:rgb(225,174,201);
        &:hover{
            opacity:0.6;
        }
    }
    .add{
        background-color:rgb(146,217,232);
        &:hover{
            opacity:0.6;
        }
    }
}