// Place all the styles related to the timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button{
    height:60px;
    background-color:#447758;
    color:#fff;
    margin:15px;
    font-size:25px;
    border:solid #fff 2px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    text-align:center;
    &:hover{
        opacity: 0.7;
    }
}
form{
    display:inline;
    margin: 0 auto;
}
.full{
    width:calc(50% - 30px);
}
.half{
    width:calc(30% - 30px);
}
.textBox{
    text-align: center;
    background-color: #93d9af;
    width:600px;
    margin:0 auto;
    padding: 30px;
    .name-form{
        > .name-field{
            height:60px;
            font-size:40px;
            width:calc(100% - 140px);
            vertical-align: middle;
            box-sizing: border-box;
            margin:15px 0 15px 15px;
            border: solid #fff 2px;
        }
        > .submit-name{
            margin:15px 15px 15px 10px;
            width:100px;
            vertical-align: middle;
        }
    }
}
.timetable{
    text-align: center;
    .row{
        font-size:0px;
        display: block;
    }
    .subject, .time, .date{
        font-size:15px;
        margin:1px;
        height:80px;
        width:80px;
        vertical-align:bottom;
        display:inline-block;
    }
    .date{
        background-color: #6b8;
        height:40px;
    }
    .time{
        background-color: #6b8;
    }
    .distribution{
        text-shadow: 1px  1px 0 #fff,
                    -1px  1px 0 #fff,
                     1px -1px 0 #fff,
                    -1px -1px 0 #fff;
        height:100%;
        width:100%;
        font-size: 25px;
        line-height: 80px;
    }
}
.member{
    margin:0 auto;
    font-size:19px;
    width:600px;
    .row{
        margin:23px 0px;
        display:block;
    }
    .commands{
        float:right;
    }
    div{
        display:inline;
        margin:0 6px;
    }
}
.candidate{
    background-color: #fff;
    border:solid #447758 2px;
    border-radius: 5px;
    box-shadow: 2px 2px #ccc;
    display: inline-block;
    margin:15px;
    font-size:20px;
    transition: all 0.3s ease 0s;
    padding:5px;
    &:hover{
        background-color: #6b8;
    }
}