// Place all the styles related to the timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button{
    height:60px;
    background-color:#447758;
    color:#fff;
    margin:15px;
    font-size:25px;
    border:solid #fff 2px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    text-align:center;
    &:hover{
        opacity: 0.7;
    }
}
form{
    display:inline;
}
.full{
    width:calc(50% - 30px);
}
.half{
    width:calc(50% - 30px);
}
.name-form{
    > .name-field{
        height:60px;
        font-size:40px;
        width:calc(100% - 140px);
        vertical-align: middle;
        box-sizing: border-box;
        margin:15px 0 15px 15px;
        border: solid #fff 2px;
    }
    > .submit-name{
        margin:15px 15px 15px 10px;
        width:100px;
        vertical-align: middle;
    }
}
.member{
    margin:0 auto;
    font-size:19px;
    width:600px;
    .row{
        margin:23px 0px;
        display:block;
    }
    .commands{
        float:right;
    }
    div{
        display:inline;
        margin:0 6px;
    }
}