<div class="icon-img"></div>
<div class="footer-contents">
  <div class="footer-contents-flex">
    <div class="Author">
      <p class="center">Author</p>
      <a href="https://kajindowsxp.com"><i class="fas fa-globe"></i> Kajindows XP</a>
      <br>
      <a href="https://twitter.com/mybiboroku"><i class="fab fa-twitter"></i> かじくん</a>
      <br>
      <a href="https://github.com/kajikentaro"><i class="fab fa-github"></i> kajikentaro</a>
    </div>
    <div class="Powerd-by">
      <p class="center">Powerd by</p>
      <a href="https://www.freepik.com/vectors/background"><i class="fas fa-images"></i> freepik</a>
      <br>
      <a href="https://fontawesome.com/"><i class="fas fa-icons"></i> Font Awesome</a>
      <br>
    </div>
    <div class="Source">
      <p class="center">Source</p>
      <a href="https://github.com/kajikentaro/timetablemanager"><i class="fab fa-github"></i> GitHub</a>
    </div>
    <div class="Technology-used">
      <p class="center">Technology used</p>
      <a href="https://rubyonrails.org/">Ruby on Rails</a>
      <br>
      <a href="https://www.docker.com/">Docker</a>
      <br>
      <a href="https://aws.amazon.com/">Amazon Web Services</a>
    </div>
  </div>
</div>
<div class="footer-message">
  <p>時間割マネージャー</p>
  <p>Copyright © 2021 時間割マネージャー All Rights Reserved.</p>
</div>
